/* Импорт локального шрифта */
@font-face {
    font-family: 'Default';
    src: url('default.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Общие стили */
body {
    font-family: 'Default', Arial, sans-serif;
    background-color: #000000; /* Черный фон для страницы */
    color: #f8f8f2; /* Светлый цвет текста для контраста */
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #1e1e1e; /* Темный фон для контейнера */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #66d9ef; /* Яркий цвет заголовка */
    margin-bottom: 30px;
}

h1 a {
    color: #66d9ef;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

.command {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Default', Courier, monospace;
    margin-bottom: 20px;
    overflow-x: auto;
    text-align: left; /* Выравнивание по левому краю */
    position: relative;
}

.command code::before {
    content: "# "; /* Добавлен символ # перед командой */
}

.command a {
    color: #66d9ef;
    text-decoration: none;
}

.command a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #f8f8f2;
    font-family: 'Default', Courier, monospace;
    white-space: pre-wrap; /* Позволяет перенос строк */
    word-wrap: break-word;
}

table td.label {
    color: #a6e22e; /* Цвет для выделения меток */
    width: 200px; /* Фиксированная ширина для меток */
    vertical-align: top;
}

table td.value {
    padding-left: 2ch; /* Добавляет отступ в 2 символа */
    text-indent: -2ch;  /* Создает висячий отступ */
}

table a {
    color: #66d9ef;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

a {
    color: #66d9ef;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    background-image: url('images/pc.png'); /* Фон для компьютеров */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Медиа-запрос для мобильных телефонов */
@media (max-device-width: 1080px) {
    body {
        background-image: url('images/mb.jpg');
    }
}
